.titulo{
    padding: 16px;
    margin: 10px;
}

.fundo {
    color: white;
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 100vh;
    overflow-x: hidden;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    color: white;
    display: flex;  
  }

.esquerdaFinancas {
    display: flex;
    margin-top: 120px;
    margin-left: 20px;
    vertical-align: left;
    text-align: left;
}

.direitaFinancas {
    display: flex;
    text-align: right;
    float: right;  
    margin-top: -350px;
}

.btnLucros{
    background-color: cyan;
    text-align: center;
    border-radius: 7px;
    margin-right: 50px;
    margin-left: 50px;
}

.btnDespesas{
    background-color: red;
    text-align: center;
    border-radius: 7px;
}
