.titulo{
    padding-top: 10px;
    padding-left: 10px;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
}

.fundo {
    color: white;
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 100vh;
    overflow-x: hidden;
}

.esquerdaDespesas {
    display: flex;
    padding-left: 25px;
    padding-top: 90px;
    vertical-align: left;
    text-align: left;
}

.direitaDespesas {
    display: flex;
    text-align: right;
    float: right;  
    margin-top: -350px;
}

