.titulo{
    padding-top: 10px;
    padding-left: 10px;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: white; /* Just to visualize the extent => cor do fundo tela completa */
    display: flex;  
}

.esquerdaDespesas {
    display: flex;
    padding-left: 25px;
    padding-top: 90px;
    vertical-align: left;
    text-align: left;
}

.direitaDespesas {
    display: flex;
    padding-left: 150px;
    padding-top: 100px;
    text-align: right;
    float: right;
}

